<div class="image image--{{ orientation }}">
  <div class="image__fit" style="padding-bottom: {{ aspect }}%">
    <img
      src="{{ src }}"
      alt="{{ alt }}"
      width="{{ width }}"
      height="{{ height }}"
      loading="{{ loading }}"
      class="image__img" />
  </div>
</div>